@model IEnumerable<BroadageSportWeb.Entity.Entities.Match>
<br />
<br />
<div class="border bg-white">
    <div>
        @if (Model.Count() > 0)
        {
            <table class="table">
                <thead class="table-dark">
                    <tr>

                        <th scope="col">Ev Takımı</th>
                        <th scope="col">Deplasman Takımı</th>
                        <th scope="col">Grup</th>
                        <th scope="col">
                            Durum
                        </th>
                        <th scope="col">Tarih</th>
                        <th scope="col">Turnuva Adı</th>
                        <th scope="col">Round Adı</th>

                    </tr>
                </thead>
                @foreach (var item in Model)
                {

                    <tr>
                        <td>
                            @item.HomeTeam.Name
                        </td>
                        <td>
                            @item.AwayTeam.Name
                        </td>
                        <td>
                            @item.Stage.Name
                        </td>
                        <td>
                            @item.Status.Name
                        </td>
                        <td>
                            @item.Date
                        </td>
                        <td>
                            @item.Tournament.Name
                        </td>
                        <td>
                            @item.Round.Name
                        </td>

                    </tr>
                }
            </table>
        }
    </div>
</div>
